/*
 * Contact form
 */

#contact-form-container .elementor-row .elementor-column  {
  margin-bottom: 10px;
}

#contact-form-container .elementor-row .elementor-column span {
  width: 100%;
  margin: 0 5px 0 5px;
}

#contact-form-container .elementor-row .elementor-column .ajax-loader {
  width: 16px;
}

#contact-form-container .contact-form-flex-center .elementor-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#contact-form-container .contact-form-flex-center .elementor-column p {
  margin: 0;
}

#contact-form-container .contact-form-flex-center .elementor-column input[type=submit] {
  padding: 20px;
}