/*
 * Sticky header animation
 */

@media only screen and (min-width: 1080px) {
  #site-header {
    position: static;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #site-header #site-logo-inner {
    height: 76px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #site-header #site-logo-inner a img {
    height: 76px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  #site-header.sticky #site-logo-inner {
    height: 38px;
  }

  #site-header.sticky #site-logo-inner a img {
    height: 38px;
  }

  #site-header.sticky #site-navigation-wrap .dropdown-menu > li > a {
    line-height: 38px;
  }
}