<?php
  define('DB_NAME', '<%= database['database'] %>');
  define('DB_USER', '<%= database['username'] %>');
  define('DB_PASSWORD', '<%= database['password'] %>');
  define('DB_HOST', '<%= database['host'] %>');
  define('DB_CHARSET', 'utf8');
  define('DB_COLLATE', '');
  define('WPLANG', '');
  define('WP_DEBUG', true);

	$table_prefix  = 'wp_';

	<%= secret_keys %>

	define('WP_HOME','<%= wp_siteurl %>');
	define('WP_SITEURL','<%= wp_siteurl %>/wordpress');

	define('WP_CONTENT_URL', '<%= wp_siteurl %>/content');

  /*
  Depending on your server configuration, you may find WordPress fails to find your content (themes and plugins).
  This is due to how your server returns `$_SERVER['DOCUMENT_ROOT']`. If this issue affects you, try swapping
  for the `dirname(__FILE__)` method below.
  */

  // define('WP_CONTENT_DIR', realpath(dirname(__FILE__) . '/content'));
  define('WP_CONTENT_DIR', realpath($_SERVER['DOCUMENT_ROOT'] . '/content'));

	if ( !defined('ABSPATH') ){
	 define('ABSPATH', dirname(__FILE__) . '/');
  }

	require_once(ABSPATH . 'wp-settings.php');
