/*
* Links
*/

#content-wrap {

  p,
  table {
    a {
      color: @muchowitsch-green;

      &:hover {
        color: @black;
      }
    }
  }

  ul,
  ol {
    li a {
      color: @muchowitsch-green;

      &:hover {
        color: @black;
      }
    }
  }
}