/*
* Main
*/

#content-wrap {

  p {
    margin: 0;
    color: @text-color;
  }

  ul,
  ol {
    li {
      color: @text-color;
    }
  }

  ol li {
    margin-top: 15px;
    margin-bottom: 15px;

    ul li {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}