/*
 * Table
 */

table {
  color: @text-color;
}

table.no-border th,
table.no-border td {
  padding: 5px;
  border: none;
}

table.no-border tr th:first-child,
table.no-border tr td:first-child {
  text-align: right;
}

table.no-border tr th:only-child,
table.no-border tr td:only-child {
  text-align: center;
}

table.bordered th,
table.bordered td {
  border: 1px solid @muchowitsch-green;
}

table.bordered tr th:first-child,
table.bordered tr td:first-child {
  padding-left: 10px;
}

table.bordered tr th:last-child,
table.bordered tr td:last-child {
  padding-right: 10px;
}